main {
  display: flex;
  background-color: #707070;
  border-radius: 1em;
  box-shadow: 0 0 0.5em #747474aa;
}

.element {
  --electric-shadow-color: #ffe062;
  --ground-shadow-color: #f7ae60;
  --ice-shadhow-color: #b8f2ff;
  --water-shadow-color: #9ad9ff;
}

.element .icon {
  cursor: pointer;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.element .icon-electric:hover {
  filter: drop-shadow(0 0 1em var(--electric-shadow-color));
}

.element .icon-ground:hover {
  filter: drop-shadow(0 0 1em var(--ground-shadow-color));
}

.element .icon-ice:hover {
  filter: drop-shadow(0 0 1em var(--ice-shadhow-color));
}

.element .icon-water:hover {
  filter: drop-shadow(0 0 1em var(--water-shadow-color));
}
